/* Gestion globale */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: white; /* Fond principal */
  color: black;
  /*overflow: hidden; Texte principal */
}

/* Structure principale */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

/* Footer */
.footer {
  background: white;
  color: #d0d0ce; /* Texte en couleur principale */
  text-align: center;
  padding: 15px;
  width: 100%;
  position: sticky;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

/* Boutons et éléments interactifs */
.btn-custom {
  background: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 15px;
  transition: background-color 0.3s ease-in-out;
}

.btn-custom:hover {
  background-color: #a8642a;
}

/* Liens */
a {
  color: #ce8738;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
