/* Pour structurer l'affichage */
html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Prend toute la hauteur de l'écran */
}

.main-content {
  flex: 1; /* Permet au contenu de prendre toute la place disponible */
  /* padding: 20px; Un peu d'espace autour du contenu */
}

.footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
  bottom: 0;
}
