.student-course-page {
    max-width: 700px;
  margin: 3rem auto;
  padding: 1.5rem;
  
    .student-course-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
        color: #1e293b;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
  
    .no-course-msg {
      text-align: center;
      font-style: italic;
      color: #6b7280;
    }
  
    .course-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap: 1.5rem;
    }
  
    .course-card {
        background: #ffffff;
        border-radius: 16px;
        padding: 1.5rem 2rem;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
        transition: transform 0.2s ease, box-shadow 0.3s ease;
        width: 100%;
    
        &:hover {
          transform: scale(1.02);
          box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
        }
  
      .course-name {
        font-size: 1.2rem;
        font-weight: 600;
        color: #111827;
        margin-bottom: 0.5rem;
      }
  
      .course-date {
        font-size: 0.95rem;
        color: #4b5563;
        margin-bottom: 0.25rem;
      }
  
      .course-status {
        font-size: 0.9rem;
        font-weight: 500;
      }
  
      .status-pending {
        color: #f59e0b;
      }
  
      .status-ongoing {
        color: #3b82f6;
      }
  
      .status-done {
        color: #10b981;
      }
    }
  }
  